java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    dg-docassembly:
      resourceGroup: dg-docassembly
      secrets:
        - name: microservicekey-dg-docassembly-api
          alias: S2S_KEY
        - name: docmosis-templates-auth
          alias: DOCMOSIS_TEMPLATES_ENDPOINT_AUTH
        - name: docmosis-access-key
          alias: DOCMOSIS_ACCESS_KEY
  environment:
    # Endpoints
    IDAM_USER_BASE_URI: https://idam-api.aat.platform.hmcts.net
    OPEN_ID_API_BASE_URI: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o
    OIDC_ISSUER_BASE_URI: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
    S2S_BASE_URI: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_WEBSHOW_WHITELIST: https://em-show-aat.service.core-compute-aat.internal/oauth2/callback
    DM_STORE_APP_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCMOSIS_TEMPLATES_ENDPOINT: https://docmosis.{{ .Values.global.environment }}.platform.hmcts.net
    DOCMOSIS_CONVERT_ENDPOINT: https://docmosis.{{ .Values.global.environment }}.platform.hmcts.net/rs/convert
    DOCMOSIS_RENDER_ENDPOINT: https://docmosis.{{ .Values.global.environment }}.platform.hmcts.net/rs/render
    CDAM_URL: http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

    REFORM_SERVICE_NAME: dg-docassembly
    REFORM_TEAM: evidence
    REFORM_SERVICE_TYPE: java
    REFORM_ENVIRONMENT: preview
    PACKAGES_NAME: dg-docassembly
    PACKAGES_PROJECT: evidence
    PACKAGES_ENVIRONMENT: preview
    JSON_CONSOLE_PRETTY_PRINT: false
    ENDPOINTS_HEALTH_SENSITIVE: false
    ENDPOINTS_INFO_SENSITIVE: false
    S2S_NAMES_WHITELIST: em_api,em_gw,ccd_gw,ccd_data,sscs,divorce_document_upload,divorce_document_generator,probate_backend,xui_webapp,cmc_claim_store,nfdiv_case_api,adoption_cos_api,adoption_web,sptribs_case_api,pcs_api
    CASE_WORKER_ROLES: caseworker-probate,caseworker-cmc,caseworker-sscs,caseworker-divorce
    ENABLE_IDAM_HEALTH_CHECK: false
    ENABLE_S2S_HEALTH_CHECK: false
    SERVER_PORT: 8080
    HTTPCLIENT_CALL_TIMEOUT: 30
    ENABLE_SECURE_DOCUMENT_CONVERSION_ENDPOINT: false
    ENABLE_SECURE_DOCUMENT_TEMPL_REND_ENDPOINT: false
xui-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    environment:
      HEALTH_EM_DOCASSEMBLY_API: https://${SERVICE_FQDN}/health
      SERVICES_EM_DOCASSEMBLY_API: https://${SERVICE_FQDN}
      FEATURE_REDIS_ENABLED: false
      FEATURE_APP_INSIGHTS_ENABLED: false
      FEATURE_SECURE_COOKIE_ENABLED: false
      FEATURE_HELMET_ENABLED: false
      REDISCLOUD_URL: http://dummyrediscloudurl
      UV_THREADPOOL_SIZE: 128
      PROTOCOL: http

idam-pr:
  enabled: true
  redirect_uris:
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback
